@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Righteous&family=Lobster&family=Madimi+One&family=Aladin&family=Faster+One&family=Protest+Guerrilla&family=Saira+Stencil+One&display=swap");
@import "tailwindcss";

@theme {
  --font-berkshire: Berkshire Swash, "serif";
  --font-righteous: Righteous, "sans-serif";
  --font-lobster: Lobster, "sans-serif";
  --font-madimi: Madimi One, "sans-serif";
  --font-aladin: Aladin, "system-ui";
  --font-faster: Faster One, "system-ui";
  --font-saira: Saira Stencil One, "sans-serif";
  --font-protest: Protest Guerrilla, "sans-serif";
  --color-primary: #101828;
  --color-secondary: #d4d4d4;
}

:root {
  --primary: #101828;
  --secondary: #d4d4d4;
}