/** Sidebar */

.ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-header {
  background-color: black;
  color: white;
}

.ant-drawer-body a {
  color: black;
}

.ant-drawer-content .ant-drawer-body {
  padding: 0;
}

.ant-drawer-content .ant-drawer-header {
  font-family: Lobster;
  padding: 17.7px 20px;
}

.ant-drawer-content-wrapper {
  font-family: Madimi One;
}

.ant-drawer-header-title button .anticon {
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  padding: 2px;
}
